* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#singapore-map {
    height: 100vh;
}

#map-container {
    position: relative;
}

#search-container {
    position: absolute;
    z-index: 314159;
    min-width: 300px;
    min-height: 50px;
    top: 5px;
    left: 45px;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 25px;
    border-radius: 10px;
}

#search-input {
    background-color: #efefef;
    border: none;
    box-shadow: 5px 5px 10px #efefefe0;
    border-radius: 10px;
}

#search-btn {
    margin-left: 10px;
    margin-right: 10px;
    border: grey;
    border-radius: 10px;
}

#searchResultElement {
    max-height: 300px;
    overflow-y: scroll;
}

#landinggif {
    width: 80vw !important;
    height: 80vh !important;
    /* position: relative; */
    object-fit: cover;
    align-self: center;
}

.testing {
    height: 100px;
    width: 100px;
}

#landgif {
    position: relative;
}

#tagline {
    text-align: center;

}

#itemsLanding {
    text-align: center;

}

.landbutton {
    position: absolute;
    z-index: 31415926;
    right: 30px;
    top: 0px;
}

.test {
    position: relative;
}

#button {
    width: 50px !important;
    align-self: center !important;
    background-color: #72c3c9;
    border-color: black;
    color: black;
    margin-top: 20px;
}

#offcanvasTop {
    z-index: 314200;
}

.offcanvas {
    background-color: #72c3c9;
}

#dentistCheckbox,
#tcmCheckbox,
#doctorCheckbox {
    display: none;
}


#form-icon {
    position: absolute;
    z-index: 314159;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    padding: 0;
    border: none;
    background-color: transparent
}

#formIcon {
    width: 50px;
}

#form-container {
    position: absolute;
    z-index: 314159;
    height: 570px;
    width: 400px;
    background: rgb(114, 195, 201);
    bottom: 50px;
    right: 50px;
    padding: 30px 35px 30px;
    border-radius: 20px;
    display: none
}

#close-form {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border-radius: 20px;
    border-color: grey
}

.marker-cluster-small div {
    background: rgb(116, 195, 203, 0.6) !important;
    border: 1.5px solid rgb(49, 49, 49);
}


#weather-report {
    z-index: 3141592;
    position: absolute;
}

@media (max-width: 480px) {
    #searchResultElement {
        max-height: 50px;
    }

    #search-btn {
        margin-left: 10px;
        margin-right: 10px;
    }

    #form-container {
        position: absolute;
        z-index: 314159;
        height: 300px;
        width: 250px;
        background: rgb(114, 195, 201);
        bottom: 50px;
        right: 50px;
        padding: 30px 35px 30px;
        border-radius: 20px;
        display: flex;
        overflow: scroll;
    }

}