*{
    font-family: Roboto;
}

#singapore-map {
    height: 100vh;
}

#map-container {
    position: relative;
}

#search-container {
    position: absolute;
    z-index: 314159;
    min-width: 300px;
    min-height: 50px;
    top: 5px;
    left: 45px;
    background-color: rgba(255,255,255,0.5);
    padding-top: 25px;
    padding-left: 25px;
}

#search-btn {
    margin-left: 10px;
}

#searchResultElement {
    max-height: 300px;
    overflow-y:scroll;
}

#landinggif {
    width: 80vw !important;
    height: 80vh !important;
    /* position: relative; */
    object-fit: cover;
    align-self: center;
}

.testing{
    height:100px;
    width:100px;
}

 #landgif {
    position: relative;
} 

.landbutton {
    position: absolute;
    z-index: 31415926;
    right: 30px;
    top:0px;
}

.test {
    position: relative;
}

#button {
    width:50px !important;
    align-self: center !important;
   background-color: #72c3c9;
   border-color: #72c3c9;
}

#offcanvasTop{
    z-index: 314200;
}

.offcanvas {
    background-color: #72c3c9;
}

#dentistCheckbox, #tcmCheckbox, #doctorCheckbox{
    display: none;
}

#form-icon{
    position: absolute;
    z-index: 314159;
    bottom:20px;
    right:20px;
    width:60px;
    height:60px;
    padding:0;
    border:none;
    background-color:transparent
}

#formIcon{
    width:50px;
}

#form-container{
    position: absolute;
    z-index: 314159;
    height:630px;
    width:400px;
    background: linear-gradient(
    to bottom,
    rgb(67, 145, 184) 0%,
    rgb(45, 125, 175) 20%,
    beige 60%,
    beige 100%
    );
    bottom:50px;
    right:50px;
    padding: 30px 35px  30px;
    border-radius:20px;
    display:none
}